{% load staticfiles %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />-->

<!-- {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->

<body>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }
  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1681340718812167',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

//   FB.login(function(response){
//   // Handle the response object, like in statusChangeCallback() in our demo
//   // code.
// if (response.authResponse) {
//      console.log('Welcome!  Fetching your information.... ');
//      FB.api('/me', function(response) {
//        console.log('Good to see you, ' + response.name + '.');
//      });
//     } else {
//      console.log('User cancelled login or did not fully authorize.');
//     }
// });

  function show_image(src, width, height, alt) {
    var img = document.createElement("img");
    img.src = src;
    img.width = width;
    img.height = height;
    img.alt = alt;

    // This next line will just add it to the <body> tag
    document.body.appendChild(img);
}

function testResults (form) {
            
            var name = form.inputname.value;
            if(name != "")
            {
             alert("Goodbye, " + name);
             FB.logout();
             window.location.reload();
            }
            else if(confirm ("Sign in?") == true)
            {
              window.location.href = 'https://www.facebook.com/dialog/oauth/?client_id=1681340718812167&redirect_uri=http://localhost:8000/tinderapp/&scope=public_profile';
            }

        }


  // Load the SDK asynchronously
  // (function(d, s, id) {
  //   var js, fjs = d.getElementsByTagName(s)[0];
  //   if (d.getElementById(id)) return;
  //   js = d.createElement(s); js.id = id;
  //   js.src = "//connect.facebook.net/en_US/sdk.js";
  //   fjs.parentNode.insertBefore(js, fjs);
  // }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Hello, ' + response.name + ', your ID is ' + response.id;
        var src = 'http://graph.facebook.com/' + response.id + '/picture';
        show_image(src, 50, 50, 'Profile Picture');
        document.getElementById("inputname").value = response.name;
        document.getElementById("inputid").value = response.id;
        document.getElementById("inputpic").value = 'http://graph.facebook.com/' + response.id + '/picture';
        alert("Welcome, " + response.name);
        document.getElementsByTagName('input')[3].value = "Logout";

    });
  }
</script>
<!-- <fb:login-button scope="public_profile,email" id = "fbbutton" onlogin="checkLoginState();">
</fb:login-button> -->


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1681340718812167";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- <div value = "Sign in" class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" onlogin="window.location.reload();"></div> -->
<div id="status">
</div>

<FORM NAME="myform" ACTION="" METHOD="POST"> <BR>
            <!-- <INPUT TYPE="hidden" NAME="inputbox" VALUE="Who"><P> -->
            <INPUT TYPE="hidden" NAME="inputname" id="inputname" value = "">
            <INPUT TYPE="hidden" NAME="inputid" id="inputid" value = "">
              <INPUT TYPE="hidden" NAME="inputpic" id="inputpic" value = "">
            <INPUT TYPE="button" NAME="button" value="Login" onClick="testResults(this.form);">
        </FORM>
<a href="/tinderapp/main/"> Continue to Tinder Project </a>


</body>